:root {
  --clr-dark: #070a13;
  --clr-light: #f1f5f9;
  --clr-rose: #e11d48;
  --clr-cyan: #3bffe8;
  --clr-slate600: #475569;

  --size-xs: 0.75rem;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

h1.underline {
  text-decoration: underline 7px #e11d48;
}

h1 span {
  color: #e11d48;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  flex-wrap: wrap; /* Allow the containers to wrap on smaller screens */
}

.form-container {
  margin-right: 20px;
  flex: 1 1 calc(50% - 20px); /* Take up 50% of the container width with margin */
  margin-bottom: 20px; /* Add some space between containers */
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

textarea {
  width: calc(100% - 20px); /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: #1d2b3a;
  color: #f1f5f9;
}

button {
  /* display: block;
    margin: 20px auto; */
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--clr-rose);
  color: #f1f5f9;
  padding: 0.5em 1em;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5),
    0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px var(--clr-rose);
  transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5),
    0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px var(--clr-rose);
}

.reset-copy {
  margin: 0px 0px auto 0px;
  background-color: var(--clr-cyan);
  color: #1d2b3a;
  box-shadow: 0 10px 20px rgba(0, 223, 196, 0.5),
    0 6px 6px rgba(0, 223, 196, 0.5), 0 0 100px -10px var(--clr-cyan);
}

.reset-copy:hover {
  box-shadow: 0 14px 28px rgba(0, 223, 196, 0.25),
    0 10px 10px rgba(0, 223, 196, 0.22), 0 0 120px -10px var(--clr-cyan);
}

#formattedOutput {
  width: calc(100% - 20px); /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: #1d2b3a;
  color: #f1f5f9;
}

/* #notification {
    position: fixed;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(51, 204, 51, 0.8);
    color: #fff;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#notification.show {
    opacity: 1;
} */

.notificationBullet,
#notificationOutput {
  display: inline-block;
  color: rgba(51, 204, 51, 0.8);
  font-style: italic;
  margin-top: 5px;
  font-size: 16px;
  margin-left: 1em;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#notificationOutput.show,
.notificationBullet.show {
  opacity: 1;
}

.ul-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#bulletPoint {
  width: calc(50% - 10px); /* Adjust the width as needed */
  height: 250px;
}

.buttons {
  width: calc(50% - 10px); /* Adjust the width as needed */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#bullet-format {
  flex-grow: 1.75;
  width: 50%;
  margin-right: 5px;
}
#bullet-reset,
#bullet-copy {
  flex-grow: 1;
  width: 25%;
  background-color: var(--clr-cyan);
  color: #1d2b3a;
  box-shadow: 0 10px 20px rgba(0, 223, 196, 0.5),
    0 6px 6px rgba(0, 223, 196, 0.5), 0 0 100px -10px var(--clr-cyan);
}

footer {
  margin-top: auto;
  padding: 20px 0;
}

.footer__title {
  font-size: var(--size-xs);
  font-weight: 400;
  color: var(--clr-slate600);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  user-select: none;
}

/* Media queries for smaller devices */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: x-large;
  }
  .form-container {
    width: 100%; /* Set the width to 100% for smaller devices */
    margin-right: 0; /* Remove the right margin */
    margin-bottom: 20px; /* Add some space between containers */
  }

  textarea {
    width: calc(100% - 20px); /* Adjust the width as needed */
  }

  #bulletPoint {
    width: 80%;
  }

  button {
    width: calc(100% - 20px);
  }

  #notification {
    display: inline-block;
    margin-left: 10px;
  }
}
